
* {box-sizing: border-box;}

body {font-family: Candara; font-weight: bold; margin: 10px;}
h1 {text-align: center; font-size: 175%; margin-bottom: 30px; font-weight: bold;}
section {position: relative;}

h2 {float: right; right: 11px; top: 51px; position: absolute; text-align: center; font-size: 125%;}
#galamb {width: 200px; background-color: red; color: white; border-bottom: 1px solid black; border-left: 1px solid black; padding: 10px 0px; margin: 0px;}
#tehen {width: 200px; background-color: pink; color: black; border-bottom: 1px solid black; border-left: 1px solid black; padding: 10px 0px; margin: 0px;}
#csirke {width: 200px; background-color: yellow; color: green; border-bottom: 1px solid black; border-left: 1px solid black; padding: 10px 0px; margin: 0px;}

.text {margin: 50px 10px 0px; background-color: gray; border: 1px solid black; padding-top: 50px; }



@media (min-width: 992px) {
	.ld12, .ld6, .ld4 {float: left;}
	.ld12 {width: 100%;}
	.ld6 {width: 50%;}
	.ld4 {width: 33%;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.md12, .md6, .md4 {float: left;}
	.md12 {width: 100%;}
	.md6 {width: 50%;}
	.md4 {width: 33%;}
}

@media (max-width: 767px) {
	.sd12, .sd6, .sd4 {float: left;}
	.sd12 {width: 100%;}
	.sd6 {width: 50%;}
	.sd4 {width: 33%;}
}